### Example 1

In [51]:
fath_bath = 5
fath_bedroom = 10
fath_kitchen = 5
sru_bath = 5
sru_bedroom = 1
sru_kitchen = 3
ail_bath = 3
ail_bedroom = 4
ail_kitchen = 20

In [52]:
print("Fath")
print("no. of baths :", fath_bath)
print("no. of bedrooms :", fath_bedroom)
print("no. of kitchens :", fath_kitchen)
print("\nSrutika")
print("no. of baths :", sru_bath)
print("no. of bedrooms :", sru_bedroom)
print("no. of kitchens :", sru_kitchen)
print("\nAileen")
print("no. of baths :", ail_bath)
print("no. of bedrooms :", ail_bedroom)
print("no. of kitchens :", ail_kitchen)

Fath
no. of baths : 5
no. of bedrooms : 10
no. of kitchens : 5

Srutika
no. of baths : 5
no. of bedrooms : 1
no. of kitchens : 3

Aileen
no. of baths : 3
no. of bedrooms : 4
no. of kitchens : 20

### Example 2

In [53]:
#defined class
class house_1:
    bath = 4
    bedroom = 5
    kitchen = 2

#initialized objects
sru_1 = house_1()
fath_1 = house_1()
ail_1 = house_1()

#assigned objects unique values
fath_1.bath = 5
fath_1.bedroom = 10
fath_1.kitchen = 5
sru_1.bath = 5
sru_1.bedroom = 1
sru_1.kitchen = 3
ail_1.bath = 3
ail_1.bedroom = 4
ail_1.kitchen = 20

In [54]:
print("Fath")
print("no. of baths :", fath_1.bath)
print("no. of bedrooms :", fath_1.bedroom)
print("no. of kitchens :", fath_1.kitchen)
print("\nSrutika")
print("no. of baths :", sru_1.bath)
print("no. of bedrooms :", sru_1.bedroom)
print("no. of kitchens :", sru_1.kitchen)
print("\nAileen")
print("no. of baths :", ail_1.bath)
print("no. of bedrooms :", ail_1.bedroom)
print("no. of kitchens :", ail_1.kitchen)

Fath
no. of baths : 5
no. of bedrooms : 10
no. of kitchens : 5

Srutika
no. of baths : 5
no. of bedrooms : 1
no. of kitchens : 3

Aileen
no. of baths : 3
no. of bedrooms : 4
no. of kitchens : 20

### Example 3

In [55]:
#define class
class house_2:
    def __init__(self, bath_n, bed_n, kitchen_n):
        self.bath = bath_n
        self.bedroom = bed_n
        self.kitchen = kitchen_n
    
    def print_values(self):
        print("no. of baths :", self.bath)
        print("no. of bedrooms :", self.bedroom)
        print("no. of kitchens :", self.kitchen)


#initialized objects with unique values
fath_2 = house_2(5,10,5)
srutika_2 = house_2(5,1,3)
aileen_2 = house_2(3,4,20)

In [56]:
print("Fath")
fath_2.print_values()
print("\nSrutika")
srutika_2.print_values()
print("\nAileen")
aileen_2.print_values()

Fath
no. of baths : 5
no. of bedrooms : 10
no. of kitchens : 5

Srutika
no. of baths : 5
no. of bedrooms : 1
no. of kitchens : 3

Aileen
no. of baths : 3
no. of bedrooms : 4
no. of kitchens : 20

In [ ]:
sru