In [6]:
# integers, notes are written here.
a = 7
a = 1189878979797979
print(a)
print(type(a))

1189878979797979
<class 'int'>

In [24]:
# floats
a = 9.8431321
print(a)
type(a)

9.8431321

float

In [14]:
# boolean
a = True
b = False
print(a, b)
type(a)

True False

bool

In [15]:
#stings
name = "my name is Alien"
print(name)
type(name)

my name is Alien

str

In [12]:
# integers to string
a = 7
print(a)
print(type(a))

a = str(a)
print(a)
print(type(a))

7
<class 'int'>
7
<class 'str'>

In [22]:
#if

i = 1
if i<3:
    print("less than 3")
    if i < 2:
        print("i is also less than 2")

less than 3
i is also less than 2

In [21]:
#ifelse
i=3
if i < 1:
    print("i is less than 1")
else:
    print("i is greater than 1")

i is greater than 1

In [20]:
#ifelifelse

i=1.5
if i < 1:
    print("i is less than 1")
elif i < 2:
    print("i is less than 2")
else:
    print("i is greater than 2")

i is less than 2

In [17]:
print(range(5))

range(0, 5)

In [25]:
# for
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
# for
for i in [2,5,1,4]:
    print(i)

2
5
1
4

In [4]:
def addition(x,y):
    z = x+y
    z = 5+z
    return z

In [5]:
sum_1 = addition(7,8)
print(sum_1)

20

In [6]:
print(addition(8,6))

19

In [29]:
A = False

In [35]:
print(a)

11

In [31]:
print(A)

False

In [32]:
A = True

In [33]:
print(A)

True

In [34]:
a = 11

In [43]:
aswin_car = 3
print(aswin_car)
sandeep_car = 3
hima_car = 2
aswin_car = 1
print(aswin_car)

3
1

In [41]:
print(aswin_car)

1

In [45]:
aswin_car = 2
print(aswin_car)

2